<section id="cookie-banner" class="cookie-banner-section">
  <button
    class="cookie-close-btn"
    id="cookie-close-btn"
    aria-label="Close cookie banner"
  >
    <svg class="cookie-close-icon" width="14" height="14">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="cookie-banner-text">
    Our website use cookies. By continuing<span class="cookie-optional-text">
      navigating</span
    >, we assume your permission to deploy cookies as detailed in our Privacy
    Policy.
  </p>
  <div class="cookie-banner-buttons">
    <button class="cookie-decline-btn" id="cookie-decline">Decline</button>
    <button class="cookie-accept-btn" id="cookie-accept">Accept cookies</button>
  </div>
</section>
