<section class="benefits-section" id="benefits">
  <div class="benefits-section-wrapper">
    <div class="container benefits-container">
      <div class="benefits-swiper-container">
        <ul class="swiper-wrapper benefits-swiper-wrapper">
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img1.png"
                  alt="Benefits picture"
                  width="62"
                  height="95"
                />
              </div>
              <h2 class="benefits-subtitle">Merge and Conquer</h2>
              <p class="benefits-text">
                A dynamic unit merging system makes every battle exciting and
                rewarding.
              </p>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img2.png"
                  alt="Benefits picture"
                  width="62"
                  height="95"
                />
              </div>
              <h2 class="benefits-subtitle">Deep Strategy</h2>
              <p class="benefits-text">
                Tactical unit placement and combination choices are key to
                victory.
              </p>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img3.png"
                  alt="Benefits picture"
                  width="62"
                  height="95"
                />
              </div>
              <h2 class="benefits-subtitle">Engaging Progression</h2>
              <p class="benefits-text">
                Face increasingly powerful enemies and prove your strategic
                mastery.
              </p>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img4.png"
                  alt="Benefits picture"
                  width="62"
                  height="95"
                />
              </div>
              <h2 class="benefits-subtitle">Endless Upgrades</h2>
              <p class="benefits-text">
                Strengthen your army by unlocking new units and upgrading
                existing ones.
              </p>
            </div>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-slide-wrapper">
              <div class="benefits-circle-wrapper">
                <img
                  src="./img/benefits/benefits-img5.png"
                  alt="Benefits picture"
                  width="62"
                  height="95"
                />
              </div>
              <h2 class="benefits-subtitle">Auto Battles, Maximum Strategy</h2>
              <p class="benefits-text">
                Deploy troops and watch them execute your tactics in real-time.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
