<section class="hero-section" id="home">
  <div class="hero-background-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="484"
            height="284"
          />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="337"
            height="197"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-title-mob.png"
            alt="Logo"
            width="337"
            height="197"
          />
        </picture>
        <h1 class="hero-title">Merge, Strategize, Conquer!</h1>
        <p class="hero-text">
          Enter the battlefield in Epic Merge, a thrilling strategy game
          where tactical merging determines the outcome of every battle.
        </p>
        <a
          class="hero-btn"
          href="#"
          rel="noopener noreferrer"
          title="Download the game Jewel Blaze Kingdom on Google Play"
          aria-label="Download the game Jewel Blaze Kingdom on Google Play"
        >
          <img
            src="./img/hero/hero-btn-mob.png"
            alt="Download button"
            width="179"
            height="80"
          />
        </a>
      </div>
    </div>
  </div>
</section>
