<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#benefits">Benefits</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Feature Keys</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#play">How to Play</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews">Reviews</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
    </ul>
  </nav>
  <a
    class="hero-btn"
    href="#"
    rel="noopener noreferrer"
    title="Download the game Tinkle Crush on Google Play"
    aria-label="Download the game Tinkle Crush on Google Play"
  >
    <img
      src="./img/hero/download-btn.png"
      alt="Download button"
      width="343"
      height="64"
    />
  </a>
</div>
